body {
  font-family: sans-serif;
  max-width: 85ex;
  padding: 1em;
  margin: auto;
  background-color: #FFFEFB;
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  font-weight: bold;
  text-shadow: 0.05em 0.05em 0.02em #DDDDDD;
}

h1 {
  font-size: 250%;
  font-variant: small-caps;
}

h2 {
  border-bottom: 0.05em solid #CCCCCC;
  font-size: 200%;
}

h3 {
  font-size: 150%;
}

h4 {
  font-size: 130%;
}

h5 {
  font-size: 110%;
}

h6 {
  color: #777777;
  background-color: inherit;
  font-size: 100%;
}

hr {
  height: 0.2em;
  border: 0;
  color: #CCCCCC;
  background-color: #CCCCCC;
}

p, blockquote, table, pre {
  line-height: 1.5;
  margin: 0.5em 0 0 0;
}

ul, ol, dl {
  padding-left: 1.1em;
  list-style-position: outside;
  /* margin: 0; */
}

li {
  line-height: 1.5;
  margin: 0 0 0 0;
}

pre {
  background-color: #F5EFE2;
  color: #000000;
  border: 0.1em solid #CCCCCC;
  line-height: 1.25em;
  overflow: auto;
  margin: 0.5em 0 0 0;
  padding: 0 0.2em;
}

pre > code { 
  color: #222222;
}

code {
  color: #222222;
}

a {
  color: #222222;
  text-decoration: underline;
}

h6 a {
  color: #777777;
}

a:hover {
  /* text-decoration: none; */
}

.navigation a {
  color: #CCCCCC;
  text-shadow: none;
  text-decoration: none;
}

/* Option 1 for navigation links: just hide the links in the previous
   line. Good because there is no jumping around of content as with
   the other otptions. */

.navigation {
  display: block;
  visibility: hidden;
}

h1:hover .navigation,
h2:hover .navigation,
h3:hover .navigation,
h4:hover .navigation,
h5:hover .navigation,
h6:hover .navigation {
  visibility: visible;
}

/* Option 2 for navigation links: heading moves right to make room for
   the links. */

/* .navigation { */
/*   display: none; */
/* } */
/*  */
/* h1:hover .navigation, */
/* h2:hover .navigation, */
/* h3:hover .navigation, */
/* h4:hover .navigation, */
/* h5:hover .navigation, */
/* h6:hover .navigation { */
/*   display: inline; */
/* } */

/* Option 3 for navigation links: heading moves down to make room for
   the links. */

/* .navigation { */
/*   display: none; */
/* } */
/*  */
/* h1:hover .navigation, */
/* h2:hover .navigation, */
/* h3:hover .navigation, */
/* h4:hover .navigation, */
/* h5:hover .navigation, */
/* h6:hover .navigation { */
/*   display: block; */
/* } */

/* Syntax highlighting with Colorize */

.symbol { color : #770055; background-color : transparent; border: 0px; margin: 0px;}
a.symbol:link { color : #229955; background-color : transparent; text-decoration: none; border: 0px; margin: 0px; }
a.symbol:active { color : #229955; background-color : transparent; text-decoration: none; border: 0px; margin: 0px; }
a.symbol:visited { color : #229955; background-color : transparent; text-decoration: none; border: 0px; margin: 0px; }
a.symbol:hover { color : #229955; background-color : transparent; text-decoration: none; border: 0px; margin: 0px; }
.special { color : #FF5000; background-color : inherit; }
.keyword { color : #770000; background-color : inherit; }
.comment { color : #007777; background-color : inherit; }
.string { color : #777777; background-color : inherit; }
.atom { color : #314F4F; background-color : inherit; }
.macro { color : #FF5000; background-color : inherit; }
.variable { color : #36648B; background-color : inherit; }
.function { color : #8B4789; background-color : inherit; }
.attribute { color : #FF5000; background-color : inherit; }
.character { color : #0055AA; background-color : inherit; }
.syntaxerror { color : #FF0000; background-color : inherit; }
.diff-deleted { color : #5F2121; background-color : inherit; }
.diff-added { color : #215F21; background-color : inherit; }

/* Disable rainbow nesting on hover */

/* span.paren1 { background-color : inherit; -webkit-transition: background-color 0.2s linear; } */
/* span.paren1:hover { color : inherit; background-color : #BAFFFF; } */
/* span.paren2 { background-color : inherit; -webkit-transition: background-color 0.2s linear; } */
/* span.paren2:hover { color : inherit; background-color : #FFCACA; } */
/* span.paren3 { background-color : inherit; -webkit-transition: background-color 0.2s linear; } */
/* span.paren3:hover { color : inherit; background-color : #FFFFBA; } */
/* span.paren4 { background-color : inherit; -webkit-transition: background-color 0.2s linear; } */
/* span.paren4:hover { color : inherit; background-color : #CACAFF; } */
/* span.paren5 { background-color : inherit; -webkit-transition: background-color 0.2s linear; } */
/* span.paren5:hover { color : inherit; background-color : #CAFFCA; } */
/* span.paren6 { background-color : inherit; -webkit-transition: background-color 0.2s linear; } */
/* span.paren6:hover { color : inherit; background-color : #FFBAFF; } */
